a:hover {
    text-decoration: none;
}

.sidebar-subitem {
    padding-left: 40px;
    background: #292c2f !important;
}

#user-avatar {
    margin-top: auto;
    margin-bottom: auto;
}

.sidebar-subitem:before {
    content: "- "
}
#sidebar-wrapper {
    min-height: 100vh;
    transition: margin 395px;
}

#sidebar-wrapper .sidebar-heading {
    color: #fff;
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}


#page-content-wrapper {
    min-width: 0;
    width: 100%;
}
